<div id="body" style="  width: 800px; height: 800px; border: 1px solid; overflow-y: scroll; SCROLLBAR-BASE-COLOR: #8ccc8c;">
@foreach (var item in ViewBag.filelist)      
{     
    <a   href="Xspreadtml?filename=@item" target="_blank"><em> @item   </em>  </a> <br />
      
} 
</div>  