@{
    ViewData["Title"] = "Home Page";
}
@model Aspose.Cells.GridWeb.GridWeb
<script src="~/js/acw_client/acwmain.js" asp-append-version="true"></script>
<script src="~/js/acw_client/lang_en.js" asp-append-version="true"></script>
<link href="~/js/acw_client/menu.css" rel="stylesheet" type="text/css">
<div class="text-center">
    <GridWebDiv mw=Model></GridWebDiv>
</div>
