
Temp/
obj/
classes/
generated/
*.suo
bin/
!/Examples.GridWeb/CSharp/bin/
!/Examples.GridWeb/VisualBasic/bin/
* Out*
* out*
*.ldb
Thumbs.db
_ReSharper*/
out/
*.lic
*.user
Out/
Out*/
Data/*Out*
TestResults/
*.vsmdi
test-results/
*.userprefs
packages
Plugins/Aspose_Cells_NET_for_PHP/.idea/*
Plugins/Aspose_Cells_NET_for_PHP/vendor/*

Plugins/Aspose_Cells_NET_for_PHP/composer.lock

Plugins/Aspose_Cells_NET_for_PHP.zip
.DS_Store
 
Examples.GridWeb/.vs