@model Aspose.Cells.Common.Models.ViewModel

<div style="display:flex;justify-content:center;align-items:center;color:white;background:rgba(255,255,255,.15);border-radius:8px;width:80%;margin:0 auto 15px;padding:15px 0;">
    <label for="RepairDataOnly">
        <input id="RepairDataOnly" name="RepairDataOnly" type="checkbox" checked="checked">
        @Model["RepairDataOnly"]
    </label>
</div>