@model Aspose.Cells.Common.Models.ViewModel

<div class="content-right col-md-12">
    <h2>Mortgage Repayment Summary</h2>
    <div class="right-box col-md-12 dual2" style="border-top:1px solid black;">
        <div class="rbx-left col-md-4">
            <h3 id="b14">$1,401.63</h3>
            Total Monthly Payment
        </div>
        <div class="rbx-left col-md-4">
            <h3 id="b16">$60,000.00</h3>
            Down payment amount
        </div>
        <div class="rbx-left col-md-4">
            <h3 id="c16">20.00%</h3>
            Down payment %
        </div>
    </div>

    <div class="right-box col-md-12 singular2">
        <div class="rbx-left col-md-4">
            <h3 id="c18">-</h3>
            Loan pay-off month
        </div>
        <div class="rbx-left col-md-4">
            <h3 id="b18">360</h3>
            Total months
        </div>
        <div class="rbx-left col-md-4">
            <h3 id="c14">$162,587.15</h3>
            Total Interest Paid
        </div>
    </div>
    <div class="right-box col-md-12 dual2">
        <div class="rbx-left col-md-4">
            <h3 id="b20">$200.00</h3>
            Monthly Tax Paid
        </div>
        <div class="rbx-left col-md-4">
            <h3 id="c20">$72,000.00</h3>
            Total Tax Paid
        </div>
        <div class="rbx-left col-md-4">
            <h3 id="b22">$83.33</h3>
            Monthly Home Insurance
        </div>
    </div>
    <div class="right-box col-md-12 singular2">
        <div class="rbx-left col-md-4">
            <h3 id="c22">$30,000.00</h3>
            Total Home Insurance
        </div>
        <div class="rbx-left col-md-4">
            <h3 id="c24">$0</h3>
            Total HOA fees
        </div>
        <div class="rbx-left col-md-4">
            <h3 id="b26">$16,819.57</h3>
            Annual Payment Amount
        </div>
    </div>
    <div class="right-box col-md-12 dual2">
        <div class="rbx-left col-md-4">
            <h3 id="c26">$504,587.15</h3>
            Total of Payments
        </div>
    </div>
</div>