<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="aspose.cells.gridweb.acw_client_path" value="/grid/acw_client/"/>
	<add key="aspose.cells.gridweb.session_store_path" value="~/tmpstorecache"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
    </compilation>
  </system.web>
</configuration>
