@using Aspose.Cells.Common.Models
@model ViewModel

<div id="ChartPreviewPlaceHolder" class="hidden" style="background-color:#FFFFFF;margin:30px 0;padding:30px 0">
    <div id="chart-div"></div>
</div>
<style>
    .charts{position:relative;display:inline-block;width:16vw;height:16vw;text-align:center;padding:.5%;margin:10px;cursor:pointer;vertical-align:middle;border:3px solid #CCCCCC}
    .charts2{border:3px solid #267AE0}
    .charts img{width:100%}
    .charts span{position:absolute;bottom:0;left:50%;overflow:hidden;transform:translateX(-50%);margin-bottom:10px;height:16px;white-space:nowrap;text-overflow:ellipsis}
    .charts:hover{box-shadow:2px 2px 1px #CCCCCC}
</style>