DIV.menu_body
{
display:none;
z-index:99999999;
position:absolute;
border:1px solid gray;
background-color:#DBD8D1;
filter:alpha(opacity='95');
width:130px;
}

TD.menu_over
{
font-family:Arial;
font-size:9pt;
cursor:pointer;
color:#ffffff;
background-color:#006699;
word-wrap:normal;
padding-left:5px;
padding-right:15px;
padding-top:6px;
padding-bottom:6px;
}

TD.menu_out
{
font-family:Arial;
font-size:9pt;
cursor:default;
color:#000000;
background-color:#DBD8D1;
word-wrap:normal;
padding-left:5px;
padding-right:15px;
padding-top:6px;
padding-bottom:6px;
}

TD.menu_separator
{
cursor:default;
color:#000000;
background-color:#DBD8D1;
word-wrap:normal;
width:130px;
}
TD.menu_separator>hr{
    margin-top:10px !important;
    margin-bottom:10px !important;
}


.WholeCalendar
{
background-color:lightgrey;
border:1px solid black;
cursor:default;
width:100%;
height:100%;
}

.TitleCalendar
{
color:#00009F;
font-family:Arial;
font-size:10pt;
font-weight:bold;
text-align:center;
height:1px;
width:100%;
background-color:lightgrey;
}

.DateControls
{
text-align:right;
}

.CalendarTable
{
border:1px solid black;
width:100%;
height:100%;
}

.DayTitleCalendar
{
background-color:lightgrey;
color:black;
font-family:Arial;
font-size:8pt;
font-weight:bold;
text-align:center;
border-width:1px;
border-style:solid;
border-left-color:white;
border-top-color:white;
border-right-color:black;
border-bottom-color:black;
width:14%;
height:1;
}

.OffDayCalendar
{
background-color:lightgrey;
color:#7F7F7F;
font-family:Arial;
font-size:8pt;
font-weight:normal;
text-align:right;
vertical-align:text-top;
border-width:1px;
border-style:solid;
border-left-color:white;
border-top-color:white;
border-right-color:black;
border-bottom-color:black;
width:14%;
cursor:pointer;
}

.DayCalendar
{
background-color:lightgrey;
color:#00009F;
font-family:Arial;
font-size:8pt;
font-weight:normal;
text-align:right;
vertical-align:text-top;
border-width:1px;
border-style:solid;
border-left-color:white;
border-top-color:white;
border-right-color:black;
border-bottom-color:black;
width:14%;
cursor:pointer;
}

.DaySelectedCalendar
{
background-color:#7F7F7F;
color:yellow;
font-family:Arial;
font-size:8pt;
font-weight:normal;
text-align:right;
vertical-align:text-top;
border-width:1px;
border-style:solid;
border-left-color:black;
border-top-color:black;
border-right-color:#BFBFBF;
border-bottom-color:#BFBFBF;
width:14%;
cursor:pointer;
}
#GridWeb1_AC{
    overflow:hidden !important;
}