<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Warn" internalLogFile="C:\storage\nlog-internal.log">

    <extensions>
        <add assembly="Tools.Foundation"/>
    </extensions>
    <variable name="myvar" value="myvalue"/>

    <targets>
        <target xsi:type="File" name="file" fileName="c:/storage/logs/${shortdate}.log" layout="${longdate} ${uppercase:${level}} ${message}"/>
    </targets>

    <rules>
        <logger levels="Info,Error" name="databaseLogger" writeTo="file" final="true"/>
    </rules>
</nlog>
