﻿.w-lnk a, .w-lnk a:hover, .w-lnk a:visited {
    color: #fff;
    text-decoration: underline !important;
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}
@media (max-width: 1024px) {

    .topheader .menuitems {
        margin-left: 0;
        height: inherit
    }

}
#DynabicMenuInnerDiv {
    margin-bottom: 60px
}

.topheader ul, body, html {
    padding: 0 !important;
    margin: 0 !important;
}

.topheader ul {
    list-style: none
}

.topheader ul li {
    float: left;
    list-style-image: none !important
}

.topheader {
    float: left;
    width: 100%;
    min-width: 1000px;
    height: 60px;
    background: #111;
    box-shadow: 0 -10px 10px -10px #000 inset;
    font-family: Arial, Verdana, Tahoma, serif;
    top: 0;
    position: fixed;
    z-index: 9999999
}

.topsection {
    width: 1170px;
    margin: 0 auto;
    padding: 0 15px
}

.venturelogo a {
    float: left;
    width: 270px;
    height: 50px;
    line-height: 50px;
    margin-top: 5px;
    background-size: 165px
}

.menuitems {
    height: 60px;
    float: left;
    margin-left: 60px;
    padding: 0 !important
}

.topheadermenus a {
    font-size: 14px;
    text-decoration: none;
    color: #fff !important;
    display: block;
    margin: 0 .25em;
    line-height: 60px;
    padding: 0 1em
}

.topheadermenus ul {
    display: none
}

.userlogstatus {
    float: right
}

.topheadermenus li:hover ul {
    display: block;
    float: left;
    width: 175px;
    position: absolute;
    background: #333;
    color: #fff
}

.topheadermenus li li {
    width: 100%;
    float: left;
    font-size: 13px;
    margin: 5px 0 0
}

.topheadermenus li li a {
    font-size: 13px;
    line-height: 32px !important;
    margin: 0 !important
}

.topheadermenus li a:hover {
    background: #2072a7;
    color: #fff
}

.togglebtn {
    cursor: pointer;
    position: relative;
    float: right;
    border: 1px solid transparent;
    outline: 0;
    display: none;
    background: #333;
    margin: 0 0 0 5px;
    min-height: 60px;
    padding: 0 15px;
    border-radius: 0
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0
}

.icon-bar {
    transform: rotate(0);
    padding: 0;
    left: 0;
    display: block;
    top: 0;
    transition: .3s all ease-in-out;
    background: #888
}

.icon-bar, .icon-bar + .icon-bar {
    margin-top: 4px
}

.togglebtn .icon-bar {
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 1px
}

.topbutton .togglebtn .icon-bar {
    width: 20px !important
}
@media (max-width: 1024px) and (min-width: 0px) {
    .footer2anchor, .footer2col p {
        display: table !important
    }

    .topbutton .icon-bar:nth-child(2) {
        transform: rotate(45deg);
        padding-left: 10px;
        left: 0;
        top: 5px;
        transition: .3s all ease-in-out
    }

    .topbutton .icon-bar:nth-child(3) {
        display: none
    }

    .topbutton .icon-bar:nth-child(4) {
        transform: rotate(-45deg);
        padding-right: 10px;
        left: 0;
        transition: .3s all ease-in-out;
        margin-top: -2px
    }

    .menuitems li a.openmenu:after, .menuitems li a:after {
        float: right;
        font-size: 16px;
        font-family: Fontawesome, serif;
        content: "\f106";
        color: #fff
    }

    .menuitems li a:after {
        content: "\f107";
        color: #999
    }
}
@media (max-width: 1024px) {
    .topheader, .topsection {
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        padding: 0 !important
    }

    .togglebtn {
        display: block
    }

    .menuitems {
        display: none
    }

    .topheader.topbutton .menuitems {
        display: block;
        margin: 0;
        width: 100%;
        background: #222
    }

    .venturelogo {
        margin-left: 10px
    }

    .footer2bar {
        background: #000 !important;
        height: inherit
    }

    .footer2col, .footercol {
        width: 100% !important
    }

    .footer2anchor, .footer2text {
        display: block;
        height: 20px
    }

    .footer2anchor, .footer2col p, .footer2text {
        clear: both;
        background: #000 !important
    }

    .footer2anchor, .footer2col p {
        float: none !important;
        text-align: center;
        line-height: 16px;
        width: 100%;
        display: table
    }
}
@media (max-width: 1024px) {
    .topheader .menuitems, .topurlink.moblink, div#DynabicMenuUserControlsclone {
        display: block !important
    }

    .desklink, .menuitems ul li:hover .productmenubox a:after, .topurlink.moblink:after {
        display: none !important
    }

    .menuitems ul li a {
        box-sizing: border-box !important
    }

    .topheader .menuitems {
        transition: .5s all ease-in-out;
        left: -300px !important;
        background: #222
    }

    .topheader.topbutton .menuitems {
        display: block !important;
        transition: .5s all ease-in-out;
        left: 0 !important
    }
}

.twocolmenu.topheadermenus li:nth-child(1):hover ul {
    width: inherit !important
}

.productmenubox {
    max-width: 650px;
    min-width: 650px;
    width: 500px;
    float: left;
    display: block
}

.topheadermenus li .productmenubox a {
    line-height: 20px !important;
    margin: 10px 0 0;
    float: left;
    padding: 5px 15px !important;
    display: inline-block;
    width: 25%;
    box-sizing: border-box
}

.topheadermenus li .productmenubox a:hover {
    background: #3071a9 !important;
    color: #fff !important
}
body {
    margin: 0;
    /*font-family: 'Open Sans',sans-serif;*/
    font-size: 15px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff
}

h1, h2, h4 {
    line-height: 1.1;
}

.title2 h4 {
    margin: 0;
    font-weight: 700;
    font-size: 16px
}

.title2 {
    color: #7c7c7c;
    padding-left: 0;
    padding-right: 0
}

@media (min-width:0px) and (max-width:640px) {
    body {
        -webkit-touch-callout: none !important
    }

    a {
        -webkit-user-select: none !important
    }
}

a, a:hover {
    transition: all .3s ease
}

@media (max-width:1024px) and (min-width:640px) {
    .row {
        margin-right: 0 !important;
        margin-left: 0 !important
    }
}

@media (max-width:640px) and (min-width:0px) {
    .row {
        margin-right: 0 !important;
        margin-left: 0 !important
    }
}

::-ms-backdrop {
    color: rgba(255,255,255,.1);
    text-shadow: 0 0 5px rgba(255,366,255,255.7)
}

::-ms-backdrop {
    color: rgba(156,215,101,.1);
    text-shadow: 0 0 10px rgba(156,215,101,.1)
}

.btn-lg {
    font-size: 16px;
    font-weight: 700
}


a, a:focus, a:hover {
    outline: 0;
    text-decoration: none
}

.btn-lg {
    font-size: 16px;
    font-weight: 700
}

.tc {
    text-align: center
}

.tl {
    text-align: left
}

.bg-darkgray {
    background: #d6d6d6;
    padding-top: 70px;
    padding-bottom: 70px
}

.btn-lg {
    border-radius: 0 !important
}

.btnToTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: grey;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

.btnToTop:hover {
    background-color: #555;
}

@media (max-width:480px) {
    .col-lg-12, .col-md-12, .col-md-3, .col-md-4, .col-md-8, .col-md-9, .col-sm-12, .col-xs-12, .col-xs-4 {
        padding: 0
    }
}

@media (max-width:967px) {
    .container {
        width: 100%;
        padding: 0;
        margin: 0
    }
}

@media all and (max-width:481px) and (min-width:0px) {
    .col-lg-12, .col-md-12, .col-md-3, .col-md-4, .col-md-8, .col-md-9, .col-sm-12, .col-xs-12, .col-xs-4 {
        text-align: left
    }
}

@media all and (max-width:975px) and (min-width:481px) {
    .col-lg-12, .col-md-12, .col-md-3, .col-md-4, .col-md-8, .col-md-9, .col-sm-12, .col-xs-12, .col-xs-4 {
        text-align: left
    }
}

.title2 IMG {
    display: inline;
    float: left;
    margin-right: 8px;
    width: 42px;
    height: 42px;
}

.sub-menu-container {
    -webkit-box-shadow: 0 3px 5px 0 rgba(50,50,50,.15);
    -moz-box-shadow: 0 3px 5px 0 rgba(50,50,50,.15);
    box-shadow: 0 3px 5px 0 rgba(50,50,50,.15)
}

    .sub-menu-container .nav a:focus, .sub-menu-container .nav > li > a:focus {
        background: 0 0;
        text-decoration: none
    }

    .sub-menu-container .btn {
        border-radius: 0 !important
    }

        .sub-menu-container .btn i {
            font-size: 14px !important
        }

    .sub-menu-container .nav a:focus {
        border-bottom: 0 solid #3d8ec4;
        border-radius: 0;
        transition: all 0s ease-in-out
    }

    .sub-menu-container .nav a:hover {
        text-decoration: none;
        background-color: transparent;
        color: #3d8ec4;
        border-bottom: 2px solid #3d8ec4;
        border-radius: 0;
        transition: all 0s ease-in-out
    }

    .sub-menu-container .nav a.active {
        text-decoration: none;
        background: #fafafa !important;
        color: #3d8ec4;
        border-bottom: 0 solid #3d8ec4;
        border-radius: 0;
        transition: all 0s ease-in-out
    }

@media all and (min-width:1024px) {
    .sub-menu-container {
        padding-top: 20px;
        padding-bottom: 20px;
        position: relative
    }

        .sub-menu-container .nav a {
            padding: 10px 9px;
            font-weight: 700;
            color: #666;
            font-size: 14px;
            transition: 0s all ease-in-out;
        }

            .sub-menu-container .nav a:hover, .sub-menu-container .nav li.active a {
                text-decoration: none;
                background-color: transparent;
                border-bottom: 2px solid #3d8ec4;
                border-radius: 0;
                color: #3d8ec4;
                transition: 0s all ease-in-out
            }

                .sub-menu-container .nav li.active a:after {
                    top: 100%;
                    left: 50%;
                    border: solid transparent;
                    content: " ";
                    height: 0;
                    width: 0;
                    position: absolute;
                    pointer-events: none;
                    border-color: rgba(136,183,213,0);
                    border-top-color: #dedede;
                    border-width: 8px;
                    margin-left: -8px
                }

        .sub-menu-container .btn {
            border: 0;
            font-weight: 700;
            padding: 10px 12px;
            text-shadow: 0 1px 1px rgba(0,0,0,.5)
        }

            .sub-menu-container .btn i {
                font-size: 18px
            }

    .btn-group > .btn:first-child {
        background: #26ae60
    }

        .btn-group > .btn:first-child:hover {
            background: #449d44
        }

    .sub-menu-container .btn-primary {
        padding-left: 20px;
        padding-right: 20px
    }

    .sub-menu-container .col-md-6 H4, .submenu {
        display: none
    }
}

@media all and (max-width:1023px) and (min-width:0px) {
    .title2 h4, .title2 h4 small {
        font-size: 24px;
        color: #fff
    }

    .arrow-dd, .sub-menu-container .col-md-3, .sub-menu-container .col-md-4, .submenu, .title2 h4 {
        text-align: center
    }

    .mb-hide {
        display: none !important
    }

    .sub-menu-container {
        padding-top: 20px;
        padding-bottom: 20px;
        margin-top: 60px;
        background: url(/templates/aspose/App_Themes/V3/images/bg/header1.png) top center no-repeat #439cda
    }

        .sub-menu-container .col-md-6 {
            margin: 10px auto
        }

    .title2 img {
        display: none;
        float: none
    }

    .title2 h4 small {
        display: inline;
        margin-top: 0
    }

    .submenu, .submenul {
        display: block !important
    }

    .sub-rhs .btn-primary {
        background-color: #f1c40f;
        border-color: #eea236;
        font-weight: 700
    }

    .submenu {
        padding: 0;
        margin: 0
    }

        .submenu ul {
            list-style-type: none;
            padding: 0 !important;
            margin: 0 !important
        }

    .smenu-dd {
        position: relative !important;
        top: 0 !important;
        right: inherit !important;
        margin: 1px auto 0 !important;
        width: 200px !important;
        left: inherit !important;
        float: none !important;
        clear: both !important;
        border: 0 solid #fff !important;
        border-radius: 4px !important;
        font-size: 15px
    }

    .arrow-dd {
        text-decoration: none !important;
        padding: 10px !important;
        border-radius: 4px !important;
        color: #666 !important;
        width: 237px;
        display: inline-block;
        background: #dedede;
        font-weight: 600
    }

    .submenul .open .dropdown-menu {
        display: block !important;
        width: 237px !important;
        text-align: center;
        margin: 0 auto !important
    }
}

@media only screen and (min-device-width :768px) and (max-device-width :1024px) and (orientation :landscape) {
    .header1 {
        margin-top: 60px
    }

    .mb-hide {
        display: none !important
    }

    .submenu, .submenul {
        display: block !important
    }

    .sub-menu-container .col-md-6 {
        width: 40%
    }

    .sub-menu-container .sub-rhs {
        width: 35% !important;
        text-align: right
    }

    .submenu {
        text-align: center;
        padding: 0;
        margin: 0
    }

        .submenu ul {
            list-style-type: none;
            padding: 0 !important;
            margin: 0 !important
        }

    .smenu-dd {
        position: relative !important;
        top: 0 !important;
        right: inherit !important;
        margin: 1px auto 0 !important;
        width: 237px !important;
        left: inherit !important;
        float: none !important;
        clear: both !important;
        border: 0 solid #fff !important;
        border-radius: 4px !important;
        font-size: 15px
    }

        .smenu-dd a:hover {
            background: #eee !important;
            color: #666 !important
        }

    .arrow-dd {
        text-decoration: none !important;
        padding: 10px !important;
        border-radius: 4px !important;
        color: #666 !important;
        width: 200px;
        display: inline-block;
        text-align: center;
        background: #dedede;
        font-weight: 600
    }

    .submenul .open .dropdown-menu {
        display: block !important;
        width: 200px !important;
        text-align: center;
        margin: 0 auto !important
    }
}
