<div class="footerbottom" style="float:left;width:100%;position:relative;background:linear-gradient(to bottom,#222 30%,#444 100%);">
    <div class="footercol" style="width:100%;margin:0 auto;padding:35px 0;text-align:center;">
        <div class="socialicon" style="width:auto;display:table;margin:30px auto 40px;">
            <ul style="display:flex;flex-flow:wrap;align-items:center;justify-content:center;margin:0;padding:0;list-style:none;text-align:center;">
                <li style="margin:10px 8px;float:left;list-style:none;">
                    <a rel="nofollow" class="fb" title="Like us on facebook" href="https://www.facebook.com/AsposeApp">
                        <svg class="icon icon-facebook frame0" viewBox="0 0 28 28">
                            <path d="M17.125 0.214v4.714h-2.804q-1.536 0-2.071 0.643t-0.536 1.929v3.375h5.232l-0.696 5.286h-4.536v13.554h-5.464v-13.554h-4.554v-5.286h4.554v-3.893q0-3.321 1.857-5.152t4.946-1.83q2.625 0 4.071 0.214z"></path>
                        </svg>
                    </a>
                </li>
                <li style="margin:10px 8px;float:left;list-style:none;">
                    <a rel="nofollow" class="twitter" title="Follow us on twitter" href="https://twitter.com/AsposeApp">
                        <svg class="icon icon-twitter frame0" viewBox="0 0 28 28">
                            <path d="M28.929 7.286q-1.196 1.75-2.893 2.982 0.018 0.25 0.018 0.75 0 2.321-0.679 4.634t-2.063 4.437-3.295 3.759-4.607 2.607-5.768 0.973q-4.839 0-8.857-2.589 0.625 0.071 1.393 0.071 4.018 0 7.161-2.464-1.875-0.036-3.357-1.152t-2.036-2.848q0.589 0.089 1.089 0.089 0.768 0 1.518-0.196-2-0.411-3.313-1.991t-1.313-3.67v-0.071q1.214 0.679 2.607 0.732-1.179-0.786-1.875-2.054t-0.696-2.75q0-1.571 0.786-2.911 2.161 2.661 5.259 4.259t6.634 1.777q-0.143-0.679-0.143-1.321 0-2.393 1.688-4.080t4.080-1.688q2.5 0 4.214 1.821 1.946-0.375 3.661-1.393-0.661 2.054-2.536 3.179 1.661-0.179 3.321-0.893z"></path>
                        </svg>
                    </a>
                </li>
                <li style="margin:10px 8px;float:left;list-style:none;">
                    <a rel="nofollow" class="linkedin" title="Link us on linkedin" href="https://www.linkedin.com/company/asposeapp">
                        <svg class="icon icon-linkedin frame0" viewBox="0 0 28 28">
                            <path d="M6.232 11.161v17.696h-5.893v-17.696h5.893zM6.607 5.696q0.018 1.304-0.902 2.179t-2.42 0.875h-0.036q-1.464 0-2.357-0.875t-0.893-2.179q0-1.321 0.92-2.188t2.402-0.866 2.375 0.866 0.911 2.188zM27.429 18.714v10.143h-5.875v-9.464q0-1.875-0.723-2.938t-2.259-1.063q-1.125 0-1.884 0.616t-1.134 1.527q-0.196 0.536-0.196 1.446v9.875h-5.875q0.036-7.125 0.036-11.554t-0.018-5.286l-0.018-0.857h5.875v2.571h-0.036q0.357-0.571 0.732-1t1.009-0.929 1.554-0.777 2.045-0.277q3.054 0 4.911 2.027t1.857 5.938z"></path>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
        <div class="bottomenuitems">
            <ul>
                <li>
                    <a rel="nofollow" href="https://www.aspose.app">Home</a>
                </li>
                <li class="sep1">|</li>
                <li>
                    <a rel="nofollow" href="https://products.aspose.app">Products</a>
                </li>
                <li class="sep1">|</li>
                <li>
                    <a rel="nofollow" href="https://forum.aspose.app">Free Support</a>
                </li>
                <li class="sep1">|</li>
                <li>
                    <a rel="nofollow" href="https://aspose-free-consulting.github.io/">Free Consulting</a>
                </li>
                <li class="sep1">|</li>
                <li>
                    <a rel="nofollow" href="https://blog.aspose.app/">Blog</a>
                </li>
                <li class="sep1">|</li>
                <li>
                    <a rel="nofollow" href="https://websites.aspose.app/">Websites</a>
                </li>
                <li class="sep1">|</li>
                <li>
                    <a rel="nofollow" href="https://about.aspose.app/">About</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer2bar">
        <div class="footer2col">
            <div class="footer2text">
                <p>© Aspose Pty Ltd 2001-@DateTime.Now.Year.ToString(). All Rights Reserved.</p>
            </div>
            <div class="footer2anchor">
                <span class="footer2bottom">
                    <a rel="nofollow" href="https://about.aspose.app/legal/privacy-policy">Privacy Policy</a>
                    <span class="sep1">|</span>
                    <a rel="nofollow" href="https://about.aspose.app/legal/tos">Terms of Service</a>
                    <span class="sep1">|</span>
                    <a rel="nofollow" href="https://about.aspose.app/contact/">Contact</a>
                </span>
            </div>
        </div>
    </div>
</div>