﻿<div class="saveas" style="margin-bottom: 10px;">
    <input type="radio" id="mergeTob" name="mergeTo" value="b" checked="checked">
    <label style="font-size: 16px; font-weight: 400; color: #fff; margin-right: 10px;" for="mergeTob">Merge into multiple sheets</label>
    <input type="radio" id="mergeTos" name="mergeTo" value="s">
    <label style="font-size: 16px; font-weight: 400; color: #fff;" for="mergeTos">Merge into one sheet</label>
</div>