<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aspose.Cells.GridJs Demo For .NetCore</title>
    <link rel="stylesheet" href="~/xspread/jquery-ui.min.css" />

    <script type="text/javascript" src="~/xspread/jquery-2.1.1.js"></script>

    <script type="text/javascript" src="~/xspread/jquery-ui.min.js"></script>
    <script>
        $(function () {
            $("input[type='radio']").checkboxradio();
            document.querySelector('#uploadForm input[type="file"]').addEventListener('change', function () {
                // 当用户选择了文件时，自动提交表单
                if (this.files.length > 0) {
                    document.getElementById('demotype').value = $('#radio-1:checked').val() ? "1" : "";
                    document.getElementById('uploadForm').submit();
                 
                }
            });
        });
        function openfile(name) {
            const url = ($('#radio-1:checked').val() ? '/Home/Uidtml' : '/Home/Xspreadtml') + '?filename=' + name;
            window.open(url, "_blank");
        }
    </script>
    <style>
        
        body {
            overflow-y: hidden;
            background-color: #f8f9fa; /* 设置浅灰色背景 */
        }

        .file-list {
            max-height: 600px;
            overflow-y: auto;
            border: 1px solid #ced4da;
            padding: 10px;
            border-radius: 5px;
            background-color: #f6f7ef;
             
        }

        .file-item {
            display: block;
            color: #1e5a08
            text-decoration: none;
            margin-bottom: 5px;
        }

            .file-item:hover {
                text-decoration: underline;
            }
    
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container" style="text-align: center;">
                <a class="navbar-brand" href="https://github.com/aspose-cells/Aspose.Cells-for-.NET/tree/master/Examples_GridJs">Aspose.Cells.GridJs Demo For .NetCore</a>
               
                @*<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>*@
            </div>
        </nav>
    </header>
    <div class="container mt-3">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container" >
            &copy; 2025 - <a href="https://products.aspose.com/cells">Aspose</a>  - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

     

    @RenderSection("Scripts", required: false)
</body>
</html>
