@model ViewModel

<div id="TextPlaceHolder" class="">
	<div class="watermark" style="margin-bottom: 0px; margin-top: 30px;">
		<textarea name="Text" id="textWatermark" class="form-control" aria-describedby="basic-addon2" placeholder="Add Watermark Text"></textarea>
		<br>
	</div>
	

	
	<div class="colorpicker">
		<div class="form-inline">
			<div class="color-wrapper">
				<input name="Color" type="text" id="pickcolor" placeholder="#99FF66" value="#99FF66" class="call-picker">
				<div class="color-holder call-picker"></div>
				<div class="color-picker" id="color-picker" style="display: none;"></div>
			</div>
		</div>
	</div>
	<br />
	
</div>
<br />

